# PostgreSQL credentials for the tap - It's the same password as stated on docker-compose.yml POSTGRES_DB: northwind
TAP_POSTGRES_PASSWORD='your_tap_postgres_password_here'

# PostgreSQL credentials for the tap - It's the same password as stated on docker-compose.yml POSTGRES_DB: processed_data
TARGET_POSTGRES_PASSWORD='your_target_postgres_password_here'

# Project path (absolute path to your project directory)
PROJECT_PATH='/path/to/your/project'

# The utils retrieves the absolute path from the PROJECT_PATH variable and targets utils
UTILS_PATH='${PROJECT_PATH}/utils'